.grey-background {
    background: #f5f5f5;
}

.online-services-wrapper {
    padding: 60px 0;
}

.online-services {
    max-width: 1300px;
    margin: 0 auto;
    padding: 60px 20px;
    box-sizing: border-box;
}

.online-services>div {
    text-align: center;
}

.online-services-content-container>h2 {
    color: #2d373e;
    box-sizing: border-box;
    font-size: 40px;
    line-height: 48px;
    font-weight: 300;
    margin-bottom: 15px;

}

.online-service-buttons {
    padding-top: 10px;
}


a.online-services-cta {
    margin: 0 27px;
}

a.online-services-cta>div {
    color: white;
    background: #172fe6;

}


a.online-services-cta>div>span {
    background: white
}

a.icon-button.online-services-cta>div>span>i {
    width: 13px;
    height: 13px;
    border-bottom: 2px solid #172fe6;
    border-right: 2px solid #172fe6;
}